<h2>Состояние платежей</h2>

<div class="payment-form">

  <input class="payment-form__field" name="name" placeholder="Наименование платежа" [(ngModel)]="payment.name" required
    autofocus>
  <input class="payment-form__field" name="cost" placeholder="Стоимость за день" [(ngModel)]="payment.cost" required
    autofocus>
  <button class="payment-form__submit" role="button" class="btn btn-primary btn-block" type="submit" (click)="add(this.payment)">Добавить</button>

</div>
<table class="table" mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Наименование платежа</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>Стоимость</th>
    <td mat-cell *matCellDef="let element">{{element.cost}}</td>
  </ng-container>

  <ng-container *ngFor='let months of months' matColumnDef="{{months}}">
    <th mat-header-cell *matHeaderCellDef>{{months}}</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle : null"                    
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Удалить</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="deleteRow(1)">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <i class="material-icons">highlight_off</i>
      </button>
      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="sumCost">Израсходовано средств: {{sumCost}}</div>

<router-outlet></router-outlet>